@import '../colors';

.headerDesktop {
	display: none;
	justify-content: space-between;
	width: 100%;
	margin: 20px 0;

	@media (min-width: 768px) {
		display: flex;
	}
}

.navigationMenu {
	display: flex;
	justify-content: space-between;
	width: 250px;
	// font-family: 'roboto';
	color: $black;

	button {
		// font-family: 'roboto';
		cursor: pointer;
		letter-spacing: 0.2px;
		border: none;
		background-color: transparent;
	}
}

.mobileHeader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 300;
	background-color: $white;
	margin-bottom: 20px;
	
	@media (min-width: 768px) {
		display: none;
	}
}

.mobileNavigationMenu {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	gap: 10px;
	padding: 15px 0;
	border-bottom: 1px solid $black;
	cursor: pointer;
}

.mobileLogoContainer{
	display: flex;
	flex-direction: column;
}

.mobileLogo {
	height: 60px;
}
