.thumbnails {
	display: grid;
	grid-template-columns: repeat(2, auto);
	max-width: 320px;
	gap: 10px;

	@media (min-width: 576px) {
		width: 576px;
		gap: 15px;
	}

	@media (min-width: 768px) {
		grid-template-columns: repeat(3, auto);
		gap: 20px;
		padding-bottom: 60px;
		width: 768px;
	}

	@media (min-width: 992px) {
		width: 992px;
	}

	@media (min-width: 1100px) {
		padding: 20px 0;
		gap: 22px;
		width: 1100px;
	}
}

.singleThumbnail {
	position: relative;

	height: 129px;
	width: 156px;

	@media (min-width: 576px) {
		
		height: 210px;
		width: 281px;
	}

	@media (min-width: 768px) {
		height: 175px;
		width: 242px;
	}

	@media (min-width: 992px) {
		width: 319px;
		height: 234px;
	}

	@media (min-width: 1100px) {
		height: 290px;
		width: 351px;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 1;
		transition: opacity 0.5s;
		cursor: pointer;
		&:hover {
			opacity: 0;
		}
	}

	&__description {
		display: flex;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		padding-left: 8%;
		background-color: #000022;
		color: #fff;
	}
}
