@import '../spacing';

.main {
	display: flex;
	flex-direction: column;
	max-width: 550px;
	gap: $xs;
	line-height: 1.6;

	@media (min-width: 576px) {
		gap: $s;
	}

	@media (min-width: 768px) {
		gap: $m;
	}

	@media (min-width: 992px) {
		gap: $l;
	}

	@media (min-width: 1100px) {
		gap: $xl;
	}
}

.portraitWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 5px;

	@media (min-width: 576px) {
		width: 270px;
	}
}

.portrait {
	width: 100%;
	height: auto;
}

.portraitCaption {
	align-self: flex-end;
	font-size: 12px;
}
